html {
  box-sizing: border-box;
  background: linear-gradient(rgba(35, 35, 35, 0.9), rgba(35, 35, 35, 0.9)),
    url(https://sfgalleries.net/art/marvel/mvc/poster-mvc1_big.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body * {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
